*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
body {
    padding-top: 5%;
    display: flex;
    justify-content:center;
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.calc{
    width: 400px;
    background-color: black;
    color: white;
    background-color: rgba(255, 255, 255, .15);  
    backdrop-filter: blur(5px);
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);	
}

.screen{
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    text-align: right;
    padding: 20px 5px;
}

.calc-button{
    background-color: #d8d9db;
    color: black;
    height: 100px;
    width: 24.5%;
    border: none;
    border-radius: 0;
    font-size: 40px;
    cursor: pointer;
}

.calc-button:hover{
    background-color: #ebebeb;

}

.calc-button:active{
    background-color: #bbbebb;
    
}

.calc-button:last-child{
    background-color: #df974c;
    color: white;
}

.calc-button:last-child:hover{
    background-color: #dfb07e;
}

.calc-button:last-child:active{
    background-color: #dd8d37;
}



.double{
    width: 49.7%;
}

.triple{
    width: 74.8%
}


.calc-row{
    display: flex;
    align-content: stretch;
    justify-content: space-between;
    margin-bottom: 0.5%;
}

